@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* App colors */
  --main-blue: #307ae9;
  --sec-blue: #24559e;
  --main-blue-hover: #0260ec;
  --sec-blue-hover: #0848a9;
  --main-grey: #d9d9d9;
  --sec-grey: #989898;
  --dark-grey: #707070;
  --main-black: #2f3032;
  --main-red: #dd0000;
  --sec-red: #9a0000;
  --main-green: #22d21f;
  --main-yellow: #faf473;
  --text-main-color: white;
  --text-main-color-hover: white;
  --text-blue-color: #307ae9;
  --text-black-color: #2f3032;
  --text-main-grey-color: #d9d9d9;
  --text-sec-grey-color: #989898;
}

html {
  height: 100%;
  min-width: 393px;
}

body {
  height: 100%;
}

/* Background */

.main-blue-bg {
  background-color: var(--main-blue);
}

.sec-blue-bg {
  background-color: var(--sec-blue);
}

/* Font */

a {
  color: var(--text-main-color);
}

.main-text {
  color: var(--text-main-color);
}

.black-text {
  color: var(--text-black-color);
}

.grey-main-text {
  color: var(--text-main-grey-color);
}

.grey-sec-text {
  color: var(--text-sec-grey-color);
}

.blue-main-text {
  color: var(--text-blue-color);
}

.small-text {
  font-size: 12px;
}

/* Button variants */

.btn {
  min-height: 45px;
}

.btn-mainBlue {
  background-color: var(--main-blue);
  color: var(--text-main-color);
}

.btn-mainBlue:hover {
  background-color: var(--main-blue-hover);
  color: var(--text-main-color-hover);
}

.btn-mainBlue:active {
  background-color: var(--main-blue-hover) !important;
  color: var(--text-main-color-hover) !important;
}

.btn-secBlue {
  background-color: var(--sec-blue);
  color: var(--text-main-color);
}

.btn-secBlue:hover {
  background-color: var(--sec-blue-hover);
  color: var(--text-main-color-hover);
}

.btn-secBlue:active {
  background-color: var(--sec-blue-hover) !important;
  color: var(--text-main-color-hover) !important;
}

.btn-as-link {
  background-color: transparent;
  color: var(--text-blue-color);
  border: none !important;
}

.btn-as-link:hover {
  background-color: transparent;
  color: var(--text-blue-color);
}

.btn-as-link:active {
  background-color: transparent !important;
  color: var(--text-blue-color) !important;
  text-decoration: underline;
  border: none !important;
}

/* Input style */

.input-style {
  background-color: var(--main-grey);
  min-height: 45px;
}

.input-style:focus {
  background-color: var(--main-grey);
}

.input-style::placeholder {
  color: var(--sec-grey);
}

.input-style-search {
  border: none;
  background-color: var(--sec-blue);
  color: var(--text-main-color);
}

.input-style-search:focus {
  background-color: var(--sec-blue);
  color: var(--text-main-color);
}

.input-style-search::placeholder {
  color: var(--text-main-color);
}

/* Sizing */

.maxFormWidth {
  max-width: 381px;
}

/* Cursor */

.cursor-pointer {
  cursor: pointer;
}

/* Border */

.border-top-grey {
  border-top: solid var(--sec-grey) 1px;
}

/* Placement */

.logo-spacing {
  margin-top: 200px;
}

.logo-spacing-sm {
  margin-top: 180px;
}

@media only screen and (max-width: 768px) {
  .logo-spacing {
    margin-top: 150px;
  }

  .logo-spacing-sm {
    margin-top: 100px;
  }
}
