.spanStyle {
  min-width: 159px;
  min-height: 25px;
  align-items: center;
}

.basicButtonStyle {
  min-width: 77px;
  max-width: 95px;
}

.maxContainerStyle {
  max-width: 450px;
}

.noteContainer {
  background-color: var(--main-blue);
  color: var(--text-main-color);
  border-radius: 10px;
}

.offcanvasButtonsStyle {
  min-width: 364px !important;
}

.scrollableHeight {
  height: 82.5vh;
}

@media (orientation: landscape) {
  .scrollableHeight {
    height: 75.5vh;
  }
}

@media (orientation: landscape) and (min-height: 500px) {
  .scrollableHeight {
    height: 82.5vh;
  }
}