th {
  background-color: var(--main-blue) !important;
  color: var(--text-main-color) !important;
  border-color: var(--main-bg-color);
}

td {
  background-color: var(--main-grey) !important;
  color: var(--text-black-color) !important;
  border-color: var(--main-bg-color);
}

tr {
  border-color: var(--main-bg-color);
}

.top-left-rounded {
  border-radius: 15px 0 0 0;
}

.top-right-rounded {
  border-radius: 0 15px 0 0;
}

.bottom-left-rounded {
  border-radius: 0 0 0 15px;
}

.bottom-right-rounded {
  border-radius: 0 0 15px 0;
}
