/* Font */

a {
  color: var(--text-main-color);
}

.main-text {
  color: var(--text-main-color);
}

.black-text {
  color: var(--text-black-color);
}

.grey-main-text {
  color: var(--text-main-grey-color);
}

.grey-sec-text {
  color: var(--text-sec-grey-color);
}

.blue-main-text {
  color: var(--text-blue-color);
}

.blue-sec-text {
  color: var(--text-sec-blue-color);
}

.red-sec-text {
  color: var(--sec-red);
}

.green-main-text {
  color: var(--main-green);
}

.warning-text {
  color: var(--warning-color);
}

.small-text {
  font-size: 12px;
}

.medium-text {
  font-size: 14px;
}

.big-text {
  font-size: 20px;
}

.no-wrap {
  white-space: nowrap;
}

.break-spaces {
  white-space: break-spaces;
}
