/* Border */

.border-top-grey {
  border-top: solid var(--sec-grey) 1px;
}

.border-bottom-grey {
  border-bottom: solid var(--sec-grey) 1px;
}

.border-full-blue {
  border: solid var(--main-blue) 1px;
}
